pre[class*='language-'] {
  color: theme('colors.slate.700');
}

.token.tag,
.token.class-name,
.token.selector,
.token.selector .class,
.token.selector.class,
.token.function {
  color: theme('colors.orange.500');
}

.token.attr-name,
.token.keyword,
.token.rule,
.token.pseudo-class,
.token.important {
  color: theme('colors.sky.500');
}

.token.module {
  color: theme('colors.orange.500');
}

.token.attr-value,
.token.class,
.token.string,
.token.property {
  color: theme('colors.lime.600');
}

.token.punctuation,
.token.attr-equals {
  color: theme('colors.slate.500');
}

.token.unit,
.language-css .token.function {
  color: theme('colors.blue.500');
}

.token.comment,
.token.operator,
.token.combinator {
  color: theme('colors.slate.400');
  font-style: italic;
}
